@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&family=Noto+Sans+KR:wght@400;700&display=swap');

#app {
    display: block;
    position: relative;
    overflow-y: scroll;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: rgb(65, 65, 65);
    position: fixed;
}

img {
    border-radius: 9px;
    -webkit-user-drag: none;
    user-select: none;
}

item {
    user-select: none;
}

contour {
    display: block;
    border: solid rgb(120, 120, 120) 0.5vh;
    background-color: rgb(120, 120, 120);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius: 0.4vh;
}

.menu {
    display: flex;
    justify-content: center;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: rgb(95, 95, 95);
    height: 7vmin;
}

.menu > item {
    text-align: center;
    color: rgb(242, 242, 242);
    padding-left: 2vh;
    padding-right: 2vh;
    width: 20vmax;
    height: 5vmin;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    font-size: 5vmin;
}

.menu > item:hover {
    background-color: rgb(120, 120, 120);
    cursor: pointer;
    /* position: absolute; */
}

.menu > item item {
    display: none;
    background-color: rgb(95, 95, 95);
    font-size: 3vmin;
    padding-left: 2vh;
    padding-right: 2vh;
    vertical-align: middle;
    line-height: 5vmin;
    height: 5vmin;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    margin-top: -1px;
    text-size-adjust: inherit;
    cursor: pointer;
}

.menu > item:hover item {
    display: block;
    width: 100%;
    min-height: 5vmin;
    position: inherit;
    transform: translateX(-2vh) translateY(3px);
    overflow: hidden;
}

.menu > item item:hover {
    background-color: rgb(120, 120, 120);
}

.maps {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 96vw;
}

.thumbnail {
    width: 0px;
    height: 0px;
}

.map-block {
    display: inline-block;
    width: 31.25%;
    /* text-align: center; */
    font-size: 2vw;
    font-family: 'Nanum Gothic', sans-serif;
    padding: .5vw;
    margin-left: .5vw;
    margin-right: .5vw;
    margin-bottom: 2vh;
    border-radius: 9px;
    background-color: rgb(65, 65, 65);
    animation-duration: 1s;
    animation-name: appearing;
}

.map-block > .thumbnail {
    width: 100%;
    height: 0px;
    display: block;
    border-radius: 9px;
    position: relative;
    padding-bottom: calc(100% / (16 / 9));
    background-color: rgb(50, 50, 50);
}

.thumbnail > img {
    max-width: 0px;
    max-height: 0px;
}

.map-block > .thumbnail > img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    height: auto;
}

.map-block:hover {
    background-color: rgb(95, 95, 95);
    cursor: pointer;
}

.map-block > item {
    display: block;
}

info-tag {
    font-size: 2vw;
    display: inline-block;
    color: rgb(160, 160, 160);
    font-family: 'Nanum Gothic', sans-serif;
}

.map-block > item > info-tag {
    margin-right: 1vw;
    min-width: 8.25vw;
}

@keyframes appearing {
    from {
        transform: translateY(1vh);
        opacity: 0%;
    }

    to {
        transform: translateY(0px);
        opacity: 100%;
    }
}

.display-block {
    display: block;
}

.display-block.center {
    text-align: center;
}