

body {
    margin: 0px;
    background-color: rgb(65, 65, 65);
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    display: block;
    max-width: 100%; /* 최대 너비: 120vh */
    max-height: 40vh;
    margin-top: 2.8vh;
}

.site-title {
    display: none;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 10vh;
    text-align: center;
    color: rgb(242, 242, 242);
}

@media (min-width: 208vh) {
    .banner {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        
        float: left;
    }

    .site-title {
        display: inline-block;

        width: auto;
        height: 100%;

        margin-top: 0px;
        margin-bottom: 0px;

        object-fit: fill;
        flex: 1;
    }
}