<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        {% for embed_content, embed_property in embed_metadata %}
            <meta content="{{ embed_content }}" property="{{ embed_property }}" name="{{ embed_property }}">
        {% endfor %}

        <meta name="mobile-web-app-capable" content="yes" />

        <link rel="apple-touch-icon" href="src/logo.webp">
        <link rel="shortcut icon" href="src/logo.webp">
        <link rel="manifest" href="src/manifest.json">

        {% for global_style in global_styles %}
            <link rel="stylesheet" href="src/style/{{ global_style }}">
        {% endfor %}
        <link rel="stylesheet" href="src/style/mainpage.css">

        {% for global_script in global_scripts %}
            <script src="{{ global_script }}"></script>
        {% endfor %}
        <script src="src/js/menu.js"></script>
    </head>

    <body>
        <div id="app">
            <section class="menu">
                <item>
                    Games
                    <item>
                        A Dance of Fire and Ice
                    </item>
                    <item>
                        Rhythm Doctor
                    </item>
                </item>
                <item>
                    Levels
                    <item>
                        Difficulty
                    </item>
                </item>
            </section>
            <section id="banner">
                <picture>
                    <source data-src="{{ banner }}.webp" media="(min-width: 2400px) and (min-height: 800px)" class="banner">
                    <source data-src="{{ banner }}.webp?scale=0.8" media="(min-width: 1920px) and (min-height: 640px)" class="banner">
                    <source data-src="{{ banner }}.webp?scale=0.6" media="(min-width: 1440px) and (min-height: 480px)" scale="0" class="banner">
                    <!-- <source data-src="{{ banner }}.webp?scale=0.4" media="(min-width: 976px) and (min-height: 333.3333333333px)" class="banner"> -->
                    <source data-src="{{ banner }}.webp?scale=0.4" class="banner">
                    <!-- <source data-src="{{ banner }}.webp?scale=0.2" class="banner"> -->
                    <img data-src="{{ banner }}.webp?scale=0.6" class="banner">
                </picture>
                <p class="site-title">얼불춤 & 리듬닥터<br>통합 비공식 포럼</p>
            </section>
            <contour class="topcontour"></contour>
            <section class="maps">
            </section>
        </div>
    </body>
</html>